body {
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #c2b6b6;
    padding: 4px 0;
}

main {
    margin-top: 10px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}
